<html lang="en-US">
    <head>
        <title>Primer Test</title>
		<link rel="stylesheet" href="https://sdk.primer.io/web/v1.20.2/Checkout.css" />
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div id="checkout-container" class="center"></div>
		<script src="https://sdk.primer.io/web/v1.20.2/Primer.min.js" crossorigin="anonymous"></script>
        <script>
            window.addEventListener("load", onLoaded);
            async function onLoaded() {
                const clientTokenResponse = await fetch("/client-token",
                    {
                        method: "post",
                        headers: {"Content-Type": "application/json"},
                    });
                const {clientToken} = await clientTokenResponse.json();
                const primer = new Primer({
                    credentials: {
                        clientToken, // Your server generated client token
                    },
                });
                await primer.checkout({
                    container: "#checkout-container",
                    onTokenizeSuccess(paymentMethod) {
                        return fetch("/authorize", {
                            method: "post",
                            headers: {"Content-Type": "application/json"},
                            body: JSON.stringify(paymentMethod),
                        });
                    },
                });
            }

        </script>
    </body>
</html>