<html lang="en-US">
    <head>
        <title>Primer Test</title>
        <link rel="stylesheet" href="https://assets.primer.io/primer-sdk-web/v1-latest/Checkout.css"/>
    </head>
    <body>
        <div id="checkout-container"></div>
        <script src="https://assets.primer.io/primer-sdk-web/v1-latest/Primer.min.js"></script>
        <script>
            window.addEventListener("load", onLoaded);
            async function onLoaded() {
                const clientTokenResponse = await fetch("/client-token",
                    {
                        method: "post",
                        headers: {"Content-Type": "application/json"},
                    });
                const {clientToken} = await clientTokenResponse.json();
                const primer = new Primer({
                    credentials: {
                        clientToken, // Your server generated client token
                    },
                });
                await primer.checkout({
                    container: "#checkout-container",
                    onTokenizeSuccess(paymentMethod) {
                        return fetch("/authorize", {
                            method: "post",
                            headers: {"Content-Type": "application/json"},
                            body: JSON.stringify(paymentMethod),
                        });
                    },
                });
            }

        </script>
    </body>
</html>